.wapperimage {
  cursor: pointer;
  height: 180px;
  /* width: 300px; */
  width: 90%;
  border: 1px solid #ddd;
  transition: 0.5s ease;
  border-radius: 4px;
}

.containerimage {
  position: relative;
  width: 80%;
  height: 100%;
  outline: 0;
}

.iconstyle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%);
}

.containerimage:hover .wapperimage {
  opacity: 0.3;
}

.containerimage:hover .iconstyle {
  opacity: 1;
}
